<% layout("boilerplate") %>
<% block("stylesheets").append('<!-- #region HOME CSS --> <link rel="stylesheet" href="/home/styles/display-top-hits.css" /> <link rel="stylesheet" href="/home/styles/display-ads.css" /> <link rel="stylesheet" href="/home/styles/display-browse.css" /> <link rel="stylesheet" href="/home/styles/song-card.css" /> <link rel="stylesheet" href="/home/styles/no-songs.css" /> <!-- #endregion HOME CSS -->') %>

<!-- DISPLAY TOP HITS SONGS -->
<section id="display-top-hits">
	<header id="display-top-hits-title" class="title-card">
		<h2>TOP HITS</h2>
	</header>
	<section id="display-top-hits-grid">
		<template id="top-hits-item-template">
			<div class="top-hits-item"></div>
		</template>
		<p id="top-hits-error">SOMETHING WENT WRONG :(</p>
	</section>
	<svg class="circle-decoration-parallax circle-decoration-red circle-decoration-hollow" width="30" height="27"
		viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="11" cy="16" r="11" fill="#FF0000" />
		<circle cx="11" cy="16" r="8" fill="white" />
		<path
			d="M5.64622 18.4681L9.51088 19.8204C10.8929 20.304 12.3091 19.1875 12.1612 17.7307L11.8442 14.6062C11.7071 13.2552 12.9274 12.1632 14.2549 12.4491L17.5273 13.1537C18.9062 13.4506 20.1509 12.2652 19.9218 10.8735L19.5025 8.3273C19.2647 6.8829 20.6082 5.68075 22.0174 6.07705L24.2072 6.69288C25.6401 7.09584 26.9954 5.84823 26.7121 4.38694L26.1462 1.46806"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
	<svg class="circle-decoration-parallax circle-decoration-purple" width="54" height="50" viewBox="0 0 54 50"
		fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="33.5172" cy="20.4828" r="20.4828" fill="#A129FF" />
		<path
			d="M34.902 48.1677L38.174 38.3646C38.6376 36.9757 37.5006 35.5759 36.0462 35.7447L25.1899 37.0053C23.841 37.1619 22.7315 35.9575 22.9981 34.626L25.1844 23.7066C25.4613 22.3236 24.2581 21.0962 22.8699 21.3455L12.9813 23.121C11.5405 23.3797 10.319 22.0537 10.6949 20.6389L13.196 11.2245C13.5782 9.78594 12.3112 8.44886 10.8541 8.75325L2.69798 10.4571"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
	<svg class="circle-decoration-parallax circle-decoration-purple" width="20" height="20" viewBox="0 0 20 20"
		fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="9.16751" cy="12.3559" r="7.6441" fill="#A129FF" />
		<path
			d="M18.5232 10.1962L16.8859 11.1324C15.6148 11.8592 14.0193 11.0187 13.8998 9.55936L13.8685 9.1764C13.7577 7.82299 12.3592 6.97108 11.1058 7.49347L10.5327 7.73231C9.244 8.26939 7.81918 7.33964 7.79181 5.94377L7.78889 5.79486C7.76185 4.41551 6.31079 3.53159 5.07272 4.14029V4.14029C3.81381 4.75923 2.34407 3.83518 2.35625 2.4324L2.36721 1.16912"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
	<svg class="circle-decoration-parallax circle-decoration-red circle-decoration-hollow" width="50" height="47"
		viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="19.0136" cy="19.0136" r="19.0136" fill="#FF0000" />
		<circle cx="19.0136" cy="19.0136" r="13.8281" fill="white" />
		<path
			d="M8.03102 38.8362L16.8732 41.9304C18.2552 42.414 19.6714 41.2974 19.5236 39.8407L18.542 30.1678C18.4049 28.8168 19.6253 27.7248 20.9528 28.0107L30.6597 30.1007C32.0385 30.3976 33.2832 29.2123 33.0541 27.8206L31.6097 19.0487C31.3719 17.6043 32.7154 16.4021 34.1246 16.7984L42.3883 19.1224C43.8212 19.5253 45.1765 18.2777 44.8932 16.8164L43.4655 9.4516"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
</section>

<!-- DISPLAY ADS PANEL CAROUSEL -->
<section id="display-ads">
	<section id="display-ads-content">
		<template id="display-ads-item-template">
			<img src="" class="display-ads-item" />
		</template>
	</section>
	<svg class="circle-decoration-red circle-decoration-hollow" width="124" height="95" viewBox="0 0 124 95" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<circle cx="47.2787" cy="47.2787" r="47.2787" fill="#FF0000" />
		<circle cx="47.2787" cy="47.2788" r="34.3845" fill="white" />
		<path
			d="M37.343 52.8587L42.792 73.0432C43.1736 74.4568 44.8949 74.9946 46.0134 74.0498L64.4433 58.482C65.4807 57.6057 67.071 57.9959 67.5851 59.2528L76.7954 81.774C77.3293 83.0795 79.0105 83.4371 80.0295 82.4618L96.426 66.7687C97.4835 65.7566 99.2344 66.1861 99.7034 67.5728L106.877 88.783C107.354 90.193 109.149 90.6066 110.195 89.5474L122.428 77.1575"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
</section>

<!-- DISPLAY BROWSE SONGS -->
<main id="display-browse">
	<svg class="circle-decoration-purple" width="166" height="120" viewBox="0 0 166 120" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<circle cx="105.59" cy="59.7992" r="59.7992" fill="#A129FF" />
		<path
			d="M148.634 46.33L123.367 72.2641C122.346 73.3129 120.58 72.9443 120.064 71.5743L104.81 31.1337C104.33 29.8631 102.751 29.4293 101.69 30.2767L67.7553 57.3779C66.6531 58.258 65.0107 57.7515 64.5957 56.4035L52.5324 17.2157C52.1017 15.8166 50.3632 15.3391 49.2783 16.3217L19.1145 43.6416C18.0113 44.6409 16.2421 44.1278 15.8446 42.6934L7.68547 13.2519"
			stroke="black" stroke-width="2" stroke-linecap="round" />
	</svg>
	<header id="display-browse-title" class="title-card">
		<h2>BROWSE</h2>
	</header>
	<section id="display-browse-categories">
		<% for (const artist of artists) { %>
		<div class="icon-category">
			<img src="<%= artist.artistImage %>" alt="<%= artist.artist %>" title="<%= artist.artist %>" />
			<!-- <p></p> -->
		</div>
		<% } %>
	</section>
	<section id="display-browse-searchbar">
		<form id="form-search-songs" action="/songs" method="get">
			<input type="text" name="q" placeholder="Search for any song/artist/album :)" />
			<button>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M14.1923 16.3103C12.356 17.616 10.0962 18.1841 7.8608 17.902C5.62539 17.6199 3.57752 16.5083 2.12304 14.7874C0.668566 13.0664 -0.086365 10.8618 0.00786875 8.61051C0.102103 6.35916 1.03862 4.22538 2.63183 2.63204C4.22503 1.03871 6.35863 0.102111 8.60979 0.00786941C10.8609 -0.0863722 13.0654 0.668621 14.7861 2.12322C16.5069 3.57782 17.6185 5.62586 17.9005 7.86145C18.1826 10.097 17.6145 12.357 16.3089 14.1935L23.5233 21.4065C23.6705 21.5436 23.7885 21.709 23.8704 21.8927C23.9522 22.0764 23.9962 22.2748 23.9998 22.4759C24.0033 22.677 23.9663 22.8767 23.891 23.0632C23.8157 23.2497 23.7036 23.4191 23.5614 23.5613C23.4192 23.7035 23.2498 23.8157 23.0633 23.891C22.8768 23.9663 22.6771 24.0033 22.476 23.9998C22.2749 23.9962 22.0766 23.9522 21.8929 23.8703C21.7092 23.7885 21.5438 23.6705 21.4067 23.5233L14.1923 16.3103ZM14.9771 8.98541C14.9771 7.39652 14.3459 5.87272 13.2225 4.74921C12.0991 3.6257 10.5754 2.99452 8.98666 2.99452C7.39791 2.99452 5.87423 3.6257 4.75081 4.74921C3.62739 5.87272 2.99626 7.39652 2.99626 8.98541C2.99626 10.5743 3.62739 12.0981 4.75081 13.2216C5.87423 14.3451 7.39791 14.9763 8.98666 14.9763C10.5754 14.9763 12.0991 14.3451 13.2225 13.2216C14.3459 12.0981 14.9771 10.5743 14.9771 8.98541Z"
						fill="white" />
				</svg>
			</button>
		</form>
		<section id="browse-searchbar-sorts">
			<div class="browse-sort-label">
				<p>ARTIST</p>
				<div class="browse-sort-label-arrow">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M11.4997 15.999C11.6323 15.999 11.7595 15.9388 11.8532 15.8316C11.947 15.7245 11.9997 15.5792 11.9997 15.4276V1.95163L15.1454 5.54774C15.2393 5.65503 15.3666 5.7153 15.4994 5.7153C15.6322 5.7153 15.7595 5.65503 15.8534 5.54774C15.9473 5.44046 16 5.29495 16 5.14322C16 4.9915 15.9473 4.84599 15.8534 4.7387L11.8537 0.167857C11.8073 0.114649 11.7521 0.0724338 11.6913 0.0436301C11.6306 0.0148264 11.5655 0 11.4997 0C11.434 0 11.3688 0.0148264 11.3081 0.0436301C11.2474 0.0724338 11.1922 0.114649 11.1458 0.167857L7.14607 4.7387C7.05219 4.84599 6.99945 4.9915 6.99945 5.14322C6.99945 5.29495 7.05219 5.44046 7.14607 5.54774C7.23995 5.65503 7.36727 5.7153 7.50004 5.7153C7.63281 5.7153 7.76013 5.65503 7.85401 5.54774L10.9998 1.95163V15.4276C10.9998 15.5792 11.0524 15.7245 11.1462 15.8316C11.24 15.9388 11.3671 15.999 11.4997 15.999ZM4.50028 0.00102132C4.63287 0.00102132 4.76004 0.0612175 4.8538 0.168367C4.94756 0.275517 5.00024 0.420844 5.00024 0.572377V14.0484L8.14599 10.4523C8.23987 10.345 8.3672 10.2847 8.49996 10.2847C8.63273 10.2847 8.76005 10.345 8.85393 10.4523C8.94781 10.5595 9.00055 10.7051 9.00055 10.8568C9.00055 11.0085 8.94781 11.154 8.85393 11.2613L4.85425 15.8321C4.80781 15.8854 4.75264 15.9276 4.6919 15.9564C4.63116 15.9852 4.56604 16 4.50028 16C4.43451 16 4.3694 15.9852 4.30866 15.9564C4.24792 15.9276 4.19275 15.8854 4.1463 15.8321L0.14662 11.2613C0.0527408 11.154 -3.12806e-09 11.0085 0 10.8568C3.12806e-09 10.7051 0.0527408 10.5595 0.14662 10.4523C0.240499 10.345 0.367827 10.2847 0.500592 10.2847C0.633357 10.2847 0.760685 10.345 0.854564 10.4523L4.00032 14.0484V0.572377C4.00032 0.420844 4.05299 0.275517 4.14675 0.168367C4.24051 0.0612175 4.36768 0.00102132 4.50028 0.00102132Z"
							fill="#555454" />
					</svg>
				</div>
			</div>
			<div class="browse-sort-label">
				<p>ALBUM</p>
				<div class="browse-sort-label-arrow">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M11.4997 15.999C11.6323 15.999 11.7595 15.9388 11.8532 15.8316C11.947 15.7245 11.9997 15.5792 11.9997 15.4276V1.95163L15.1454 5.54774C15.2393 5.65503 15.3666 5.7153 15.4994 5.7153C15.6322 5.7153 15.7595 5.65503 15.8534 5.54774C15.9473 5.44046 16 5.29495 16 5.14322C16 4.9915 15.9473 4.84599 15.8534 4.7387L11.8537 0.167857C11.8073 0.114649 11.7521 0.0724338 11.6913 0.0436301C11.6306 0.0148264 11.5655 0 11.4997 0C11.434 0 11.3688 0.0148264 11.3081 0.0436301C11.2474 0.0724338 11.1922 0.114649 11.1458 0.167857L7.14607 4.7387C7.05219 4.84599 6.99945 4.9915 6.99945 5.14322C6.99945 5.29495 7.05219 5.44046 7.14607 5.54774C7.23995 5.65503 7.36727 5.7153 7.50004 5.7153C7.63281 5.7153 7.76013 5.65503 7.85401 5.54774L10.9998 1.95163V15.4276C10.9998 15.5792 11.0524 15.7245 11.1462 15.8316C11.24 15.9388 11.3671 15.999 11.4997 15.999ZM4.50028 0.00102132C4.63287 0.00102132 4.76004 0.0612175 4.8538 0.168367C4.94756 0.275517 5.00024 0.420844 5.00024 0.572377V14.0484L8.14599 10.4523C8.23987 10.345 8.3672 10.2847 8.49996 10.2847C8.63273 10.2847 8.76005 10.345 8.85393 10.4523C8.94781 10.5595 9.00055 10.7051 9.00055 10.8568C9.00055 11.0085 8.94781 11.154 8.85393 11.2613L4.85425 15.8321C4.80781 15.8854 4.75264 15.9276 4.6919 15.9564C4.63116 15.9852 4.56604 16 4.50028 16C4.43451 16 4.3694 15.9852 4.30866 15.9564C4.24792 15.9276 4.19275 15.8854 4.1463 15.8321L0.14662 11.2613C0.0527408 11.154 -3.12806e-09 11.0085 0 10.8568C3.12806e-09 10.7051 0.0527408 10.5595 0.14662 10.4523C0.240499 10.345 0.367827 10.2847 0.500592 10.2847C0.633357 10.2847 0.760685 10.345 0.854564 10.4523L4.00032 14.0484V0.572377C4.00032 0.420844 4.05299 0.275517 4.14675 0.168367C4.24051 0.0612175 4.36768 0.00102132 4.50028 0.00102132Z"
							fill="#555454" />
					</svg>
				</div>
			</div>
			<div class="browse-sort-label">
				<p>TITLE</p>
				<div class="browse-sort-label-arrow">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M11.4997 15.999C11.6323 15.999 11.7595 15.9388 11.8532 15.8316C11.947 15.7245 11.9997 15.5792 11.9997 15.4276V1.95163L15.1454 5.54774C15.2393 5.65503 15.3666 5.7153 15.4994 5.7153C15.6322 5.7153 15.7595 5.65503 15.8534 5.54774C15.9473 5.44046 16 5.29495 16 5.14322C16 4.9915 15.9473 4.84599 15.8534 4.7387L11.8537 0.167857C11.8073 0.114649 11.7521 0.0724338 11.6913 0.0436301C11.6306 0.0148264 11.5655 0 11.4997 0C11.434 0 11.3688 0.0148264 11.3081 0.0436301C11.2474 0.0724338 11.1922 0.114649 11.1458 0.167857L7.14607 4.7387C7.05219 4.84599 6.99945 4.9915 6.99945 5.14322C6.99945 5.29495 7.05219 5.44046 7.14607 5.54774C7.23995 5.65503 7.36727 5.7153 7.50004 5.7153C7.63281 5.7153 7.76013 5.65503 7.85401 5.54774L10.9998 1.95163V15.4276C10.9998 15.5792 11.0524 15.7245 11.1462 15.8316C11.24 15.9388 11.3671 15.999 11.4997 15.999ZM4.50028 0.00102132C4.63287 0.00102132 4.76004 0.0612175 4.8538 0.168367C4.94756 0.275517 5.00024 0.420844 5.00024 0.572377V14.0484L8.14599 10.4523C8.23987 10.345 8.3672 10.2847 8.49996 10.2847C8.63273 10.2847 8.76005 10.345 8.85393 10.4523C8.94781 10.5595 9.00055 10.7051 9.00055 10.8568C9.00055 11.0085 8.94781 11.154 8.85393 11.2613L4.85425 15.8321C4.80781 15.8854 4.75264 15.9276 4.6919 15.9564C4.63116 15.9852 4.56604 16 4.50028 16C4.43451 16 4.3694 15.9852 4.30866 15.9564C4.24792 15.9276 4.19275 15.8854 4.1463 15.8321L0.14662 11.2613C0.0527408 11.154 -3.12806e-09 11.0085 0 10.8568C3.12806e-09 10.7051 0.0527408 10.5595 0.14662 10.4523C0.240499 10.345 0.367827 10.2847 0.500592 10.2847C0.633357 10.2847 0.760685 10.345 0.854564 10.4523L4.00032 14.0484V0.572377C4.00032 0.420844 4.05299 0.275517 4.14675 0.168367C4.24051 0.0612175 4.36768 0.00102132 4.50028 0.00102132Z"
							fill="#555454" />
					</svg>
				</div>
			</div>
			<div class="browse-sort-label">
				<p>PRICE</p>
				<div class="browse-sort-label-arrow">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M11.4997 15.999C11.6323 15.999 11.7595 15.9388 11.8532 15.8316C11.947 15.7245 11.9997 15.5792 11.9997 15.4276V1.95163L15.1454 5.54774C15.2393 5.65503 15.3666 5.7153 15.4994 5.7153C15.6322 5.7153 15.7595 5.65503 15.8534 5.54774C15.9473 5.44046 16 5.29495 16 5.14322C16 4.9915 15.9473 4.84599 15.8534 4.7387L11.8537 0.167857C11.8073 0.114649 11.7521 0.0724338 11.6913 0.0436301C11.6306 0.0148264 11.5655 0 11.4997 0C11.434 0 11.3688 0.0148264 11.3081 0.0436301C11.2474 0.0724338 11.1922 0.114649 11.1458 0.167857L7.14607 4.7387C7.05219 4.84599 6.99945 4.9915 6.99945 5.14322C6.99945 5.29495 7.05219 5.44046 7.14607 5.54774C7.23995 5.65503 7.36727 5.7153 7.50004 5.7153C7.63281 5.7153 7.76013 5.65503 7.85401 5.54774L10.9998 1.95163V15.4276C10.9998 15.5792 11.0524 15.7245 11.1462 15.8316C11.24 15.9388 11.3671 15.999 11.4997 15.999ZM4.50028 0.00102132C4.63287 0.00102132 4.76004 0.0612175 4.8538 0.168367C4.94756 0.275517 5.00024 0.420844 5.00024 0.572377V14.0484L8.14599 10.4523C8.23987 10.345 8.3672 10.2847 8.49996 10.2847C8.63273 10.2847 8.76005 10.345 8.85393 10.4523C8.94781 10.5595 9.00055 10.7051 9.00055 10.8568C9.00055 11.0085 8.94781 11.154 8.85393 11.2613L4.85425 15.8321C4.80781 15.8854 4.75264 15.9276 4.6919 15.9564C4.63116 15.9852 4.56604 16 4.50028 16C4.43451 16 4.3694 15.9852 4.30866 15.9564C4.24792 15.9276 4.19275 15.8854 4.1463 15.8321L0.14662 11.2613C0.0527408 11.154 -3.12806e-09 11.0085 0 10.8568C3.12806e-09 10.7051 0.0527408 10.5595 0.14662 10.4523C0.240499 10.345 0.367827 10.2847 0.500592 10.2847C0.633357 10.2847 0.760685 10.345 0.854564 10.4523L4.00032 14.0484V0.572377C4.00032 0.420844 4.05299 0.275517 4.14675 0.168367C4.24051 0.0612175 4.36768 0.00102132 4.50028 0.00102132Z"
							fill="#555454" />
					</svg>
				</div>
			</div>
		</section>
	</section>
	<section id="display-browse-songs">
		<template id="song-card-template">
			<a class="song-card">
				<img class="song-card-image" src="" alt="" loading="lazy">
				<h3 class="song-card-artist">Title</h3>
				<p class="song-card-info">
					Title - Album
				</p>
				<p class="song-card-price">$4.99</p>
			</a>
		</template>
		<div id="no-songs">
			<p>NOTHING FOUND</p>
			<p>:(</p>
		</div>
	</section>

	<div id="display-browse-circle-decorations">
		<svg class="circle-decoration-purple" width="45" height="41" viewBox="0 0 45 41" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<circle cx="24.5172" cy="20.4828" r="20.4828" fill="#A129FF" />
			<path
				d="M37.3484 23.7602L36.4511 16.1479C36.2797 14.6937 34.6552 13.9106 33.4109 14.6823L26.9542 18.686C25.8002 19.4016 24.2837 18.7837 23.9585 17.4653L22.0893 9.88844C21.7515 8.51903 20.1404 7.92015 18.9901 8.73638L13.4015 12.702C12.2077 13.5491 10.5381 12.8688 10.2764 11.4286L9.10559 4.98723C8.8394 3.52274 7.12384 2.85182 5.93476 3.74719L1.11005 7.3802"
				stroke="black" stroke-width="2" stroke-linecap="round" />
		</svg>
		<svg class="circle-decoration-red" width="48" height="41" viewBox="0 0 48 41" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<circle cx="19.0136" cy="21.0136" r="19.0136" fill="#FF0000" />
			<circle cx="19.0136" cy="21.0136" r="13.8281" fill="white" />
			<path
				d="M6.11699 31.9222L14.9592 35.0163C16.3412 35.4999 17.7573 34.3833 17.6095 32.9266L16.628 23.2537C16.4909 21.9027 17.7112 20.8108 19.0387 21.0966L28.7456 23.1866C30.1245 23.4835 31.3692 22.2982 31.1401 20.9065L29.6957 12.1346C29.4578 10.6902 30.8014 9.48806 32.2106 9.88436L40.4743 12.2083C41.9072 12.6113 43.2624 11.3637 42.9791 9.90237L41.5515 2.53754"
				stroke="black" stroke-width="2" stroke-linecap="round" />
		</svg>
		<svg class="circle-decoration-purple" width="90" height="64" viewBox="0 0 90 64" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<circle cx="31.8621" cy="31.8621" r="31.8621" fill="#A129FF" />
			<path
				d="M88.2627 34.2615L78.2758 24.6013C77.2234 23.5833 75.4698 24.0041 74.9939 25.3888L69.9976 39.9266C69.5563 41.2108 67.9908 41.6913 66.905 40.8757L54.4486 31.519C53.3208 30.6719 51.6941 31.227 51.3193 32.5867L47.5177 46.3783C47.1287 47.7895 45.4052 48.3184 44.2916 47.3684L33.6407 38.2819C32.5083 37.3158 30.7551 37.8811 30.4003 39.3267L27.6855 50.3877"
				stroke="black" stroke-width="2" stroke-linecap="round" />
		</svg>
		<svg class="circle-decoration-red" width="48" height="41" viewBox="0 0 48 41" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<circle cx="19.0136" cy="21.0136" r="19.0136" fill="#FF0000" />
			<circle cx="19.0136" cy="21.0136" r="13.8281" fill="white" />
			<path
				d="M6.11699 31.9222L14.9592 35.0163C16.3412 35.4999 17.7573 34.3833 17.6095 32.9266L16.628 23.2537C16.4909 21.9027 17.7112 20.8108 19.0387 21.0966L28.7456 23.1866C30.1245 23.4835 31.3692 22.2982 31.1401 20.9065L29.6957 12.1346C29.4578 10.6902 30.8014 9.48806 32.2106 9.88436L40.4743 12.2083C41.9072 12.6113 43.2624 11.3637 42.9791 9.90237L41.5515 2.53754"
				stroke="black" stroke-width="2" stroke-linecap="round" />
		</svg>
	</div>
</main>

<% block("scripts").append('<script type="module" src="/home/scripts/index.js" defer></script>') %>
