/* #region CIRCLE DECORATIONS DEFAULT STYLES */

/* CMT To change the size of any circle decorations, just change its svg
font-size property and use em */
svg[class*="circle-decoration"] {
	width: 1.25em;
	height: 1.25em;
	position: absolute;
}

/* Default styles for every circle decorations squiggly lines */
svg[class^="circle-decoration"] path {
	stroke: black;
	stroke-linecap: round;
}

/* #endregion CIRCLE DECORATIONS DEFAULT STYLES */

/* #region CIRCLE DECORATIONS COLORS */

.circle-decoration-purple circle:first-of-type {
	fill: var(--primary-bright-purple);
}

.circle-decoration-red circle:first-of-type {
	fill: var(--primary-bright-red);
}

/* #endregion CIRCLE DECORATIONS COLORS */

/* #region CIRCLE DECORATIONS EFFECTS */

.circle-decoration-parallax {
	transition: transform 0.1s ease-out;
}

.circle-decoration-hollow circle:last-of-type {
	fill: white;
}

/* #endregion CIRCLE DECORATIONS EFFECTS */
