<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8" />
<title>VIXUN</title>
<meta name="author" content="Reyhan Ardiya" />
<meta name="application-name" content="VIXUN" />
<meta name="description" content="A website where you can search for music from different sources." />
<meta name="keywords" content="HTML, CSS, JavaScript, music, finder" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- #region COMMON CSS -->
<link rel="stylesheet" href="/common/styles/css-reset.css" />
<link rel="stylesheet" href="/common/styles/defaults.css" />
<link rel="stylesheet" href="/common/styles/fonts.css" />
<link rel="stylesheet" href="/common/styles/page-header.css" />
<link rel="stylesheet" href="/common/styles/navbar-main.css" />
<link rel="stylesheet" href="/common/styles/title-card.css" />
<link rel="stylesheet" href="/common/styles/page-footer.css" />
<link rel="stylesheet" href="/common/styles/circle-decorations.css" />
<!-- #endregion COMMON CSS -->
