<header id="page-header">
	<div id="contacts-upper">
		<svg width="166" height="26" viewBox="0 0 166 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<a href="/">
				<path
					d="M116.719 2.59375H95.9688C94.5422 2.59375 93.388 3.76094 93.388 5.1875L93.375 20.75C93.375 22.1766 94.5422 23.3438 95.9688 23.3438H116.719C118.145 23.3438 119.312 22.1766 119.312 20.75V5.1875C119.312 3.76094 118.145 2.59375 116.719 2.59375ZM116.719 7.78125L106.344 14.2656L95.9688 7.78125V5.1875L106.344 11.6719L116.719 5.1875V7.78125Z"
					fill="url(#paint0_radial_144_94)" />
			</a>
			<a href="/">
				<path fill-rule="evenodd" clip-rule="evenodd"
					d="M0 13.0412C0 19.4888 4.6828 24.8503 10.8073 25.9375V16.5708H7.5651V12.9688H10.8073V10.0864C10.8073 6.84426 12.8963 5.04376 15.8511 5.04376C16.787 5.04376 17.7964 5.1875 18.7323 5.33124V8.64583H17.0755C15.4901 8.64583 15.1302 9.43801 15.1302 10.4474V12.9688H18.5885L18.0125 16.5708H15.1302V25.9375C21.2547 24.8503 25.9375 19.4899 25.9375 13.0412C25.9375 5.86836 20.1016 0 12.9688 0C5.83594 0 0 5.86836 0 13.0412Z"
					fill="url(#paint1_radial_144_94)" />
			</a>
			<a href="/">
				<path
					d="M59.6562 0C52.4945 0 46.6875 5.80699 46.6875 12.9688C46.6875 20.1305 52.4945 25.9375 59.6562 25.9375C66.818 25.9375 72.625 20.1305 72.625 12.9688C72.625 5.80699 66.818 0 59.6562 0ZM65.8888 9.77577C65.8975 9.91183 65.8975 10.0537 65.8975 10.1926C65.8975 14.4422 62.6611 19.3373 56.747 19.3373C54.9232 19.3373 53.2327 18.8076 51.8084 17.8957C52.069 17.9247 52.3179 17.9362 52.5842 17.9362C54.0895 17.9362 55.4732 17.4268 56.5762 16.5641C55.1635 16.5352 53.9766 15.6088 53.5714 14.3351C54.0664 14.4075 54.5122 14.4075 55.0217 14.2772C54.2943 14.1294 53.6405 13.7344 53.1713 13.1592C52.7022 12.584 52.4467 11.8641 52.4482 11.1219V11.0813C52.8737 11.3216 53.3745 11.4692 53.8985 11.4895C53.458 11.196 53.0968 10.7983 52.8468 10.3317C52.5969 9.86508 52.4659 9.34402 52.4655 8.8147C52.4655 8.21547 52.6219 7.66835 52.9027 7.1936C53.71 8.1875 54.7175 9.00038 55.8596 9.57941C57.0017 10.1584 58.2529 10.4907 59.5318 10.5545C59.0773 8.3689 60.71 6.60017 62.6726 6.60017C63.599 6.60017 64.4327 6.98807 65.0203 7.61335C65.7469 7.47729 66.4417 7.20518 67.0612 6.84044C66.8209 7.5844 66.3172 8.21258 65.6485 8.60917C66.2969 8.53969 66.9222 8.36021 67.5012 8.10836C67.0641 8.75101 66.5169 9.32129 65.8888 9.77577Z"
					fill="url(#paint2_radial_144_94)" />
			</a>
			<a href="https://github.com/ReyhanArdiya/VIXUN-music-finder.git" target="_blank">
				<path fill-rule="evenodd" clip-rule="evenodd"
					d="M153.031 0C145.866 0 140.062 5.80352 140.062 12.9688C140.062 18.7074 143.775 23.5545 148.93 25.2729C149.578 25.3863 149.821 24.9973 149.821 24.6568C149.821 24.3488 149.805 23.3275 149.805 22.2414C146.547 22.8412 145.704 21.4471 145.445 20.7176C145.299 20.3447 144.666 19.1938 144.115 18.8857C143.661 18.6426 143.013 18.0428 144.099 18.0266C145.12 18.0104 145.85 18.9668 146.093 19.3559C147.26 21.3174 149.124 20.7662 149.87 20.4258C149.984 19.5828 150.324 19.0154 150.697 18.6912C147.811 18.367 144.796 17.2484 144.796 12.2879C144.796 10.8775 145.299 9.71035 146.125 8.80254C145.996 8.47832 145.542 7.14902 146.255 5.36582C146.255 5.36582 147.341 5.02539 149.821 6.69512C150.859 6.40332 151.961 6.25742 153.064 6.25742C154.166 6.25742 155.268 6.40332 156.306 6.69512C158.786 5.00918 159.872 5.36582 159.872 5.36582C160.586 7.14902 160.132 8.47832 160.002 8.80254C160.829 9.71035 161.331 10.8613 161.331 12.2879C161.331 17.2646 158.3 18.367 155.414 18.6912C155.884 19.0965 156.29 19.8746 156.29 21.0904C156.29 22.825 156.273 24.2191 156.273 24.6568C156.273 24.9973 156.517 25.4025 157.165 25.2729C159.74 24.4036 161.977 22.749 163.562 20.5418C165.146 18.3346 165.999 15.686 166 12.9688C166 5.80352 160.196 0 153.031 0Z"
					fill="url(#paint3_radial_144_94)" />
			</a>
			<defs>
				<radialGradient id="paint0_radial_144_94" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(119.313 3.43497) rotate(141.754) scale(39.4082 171.033)">
					<stop stop-color="#FF0000" />
					<stop offset="0.458452" stop-color="#CA1791" />
					<stop offset="0.992282" stop-color="#A129FF" />
				</radialGradient>
				<radialGradient id="paint1_radial_144_94" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(25.9375 1.05152) rotate(135.425) scale(43.4484 193.911)">
					<stop stop-color="#FF0000" />
					<stop offset="0.458452" stop-color="#CA1791" />
					<stop offset="0.992282" stop-color="#A129FF" />
				</radialGradient>
				<radialGradient id="paint2_radial_144_94" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(72.625 1.05152) rotate(135.425) scale(43.4484 193.911)">
					<stop stop-color="#FF0000" />
					<stop offset="0.458452" stop-color="#CA1791" />
					<stop offset="0.992282" stop-color="#A129FF" />
				</radialGradient>
				<radialGradient id="paint3_radial_144_94" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
					gradientTransform="translate(166 1.02558) rotate(136.14) scale(42.9238 191.439)">
					<stop stop-color="#FF0000" />
					<stop offset="0.458452" stop-color="#CA1791" />
					<stop offset="0.992282" stop-color="#A129FF" />
				</radialGradient>
			</defs>
		</svg>
	</div>
	<div id="page-logo">
		<h1>
			<a href="/">
				<svg class="circle-decoration-purple" width="22" height="21" viewBox="0 0 22 21" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<circle cx="13.6552" cy="8.34483" r="8.34483" />
					<path
						d="M14.2194 19.6239L14.9625 17.3974C15.426 16.0085 14.2891 14.6087 12.8347 14.7776L11.8813 14.8883C10.5324 15.0449 9.42295 13.8405 9.68955 12.509L9.91858 11.3651C10.1955 9.98209 8.9923 8.75466 7.60405 9.00393L7.12179 9.09052C5.68098 9.34922 4.45952 8.02324 4.83539 6.60846L4.88269 6.43042C5.26489 4.99184 3.9978 3.65477 2.54076 3.95915L1.09919 4.2603"
						stroke-width="2" />
				</svg>
				VI<span>X</span>UN
				<svg class="circle-decoration-purple circle-decoration-hollow" width="18" height="19"
					viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="10.4775" cy="11.0382" r="5.32338" transform="rotate(63.3699 10.4775 11.0382)" />
					<circle cx="10.4775" cy="11.0382" r="3.87155" transform="rotate(63.3699 10.4775 11.0382)" />
					<path
						d="M2.18338 4.71945L2.33302 5.88056C2.47186 6.9578 3.68313 7.52561 4.59995 6.94323V6.94323C5.45022 6.40312 6.58006 6.84928 6.83192 7.8246L6.90881 8.12235C7.1519 9.06375 8.26688 9.46451 9.05366 8.89329L9.13759 8.83235C9.91507 8.26789 11.0156 8.70248 11.1977 9.64584V9.64584C11.3828 10.6051 12.5135 11.0332 13.2875 10.4371L13.9845 9.90029"
						stroke-width="2" />
				</svg>
			</a>
		</h1>
	</div>
	<div id="page-header-dummy"></div>
</header>
